.App{
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items:10vh;
  background:rgb(74,89,23);
  color:white;
}

.nav-links{
  width:40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}



.About-Page,.Shop-Page{
  background-color: rgba(226, 164, 226, 0.2);
  height:100vh;
  padding:20px;
}

.About-Page > h1, .Shop-Page > h1{
  background-color: rgb(0, 255, 170, 0.2);
}
